---
import Footer from "../../components/Footer.astro";
import PostList from "../../components/PostList.astro";
import Centered from "../../layouts/Centered.astro";
---

<Centered>
    <title slot="head">Blog - ayats.org</title>

    <PostList />

    <Footer />
</Centered>
