@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* word-break: break-word; */
    overflow-wrap: break-word;
}

.astro-code {
    overflow-x: scroll !important;
    white-space: pre;
    max-width: 100%;
    min-width: 0px;

    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 0.5rem;
}

h1 {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.5rem;
}

h2 {
    font-weight: 900;
    font-size: 1.5rem;
}

h3 {
    font-weight: 800;
    font-size: 1.2rem;
}

h4 {
    font-weight: 800;
    color: rgb(57, 57, 57);
}

h1:hover,
h2:hover,
h3:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}


p>code {
    background-color: rgba(44, 44, 44, 0.246);
    box-sizing: border-box;
    padding: 0.2rem 0.3rem;
    border-radius: 0.2rem;
}

hr {
    /* border: 3px solid rgb(255, 0, 0); */
    border-radius: 5px;
    padding: 3px 0;
    background-color: red;
    margin: 2rem 3rem;
}

/* [id]::before {
  content: '';
  display: block;
  height:      75px;
  margin-top: -75px;
  visibility: hidden;
} */
