.code-container {
    position: relative;
}

@sep: 10px;

.code-copy {
    position: absolute;
    top: @sep;
    right: @sep;

    @media (min-width: 768px) {
        opacity: 0;
    }
}

.code-copy>svg {
    width: 20px;
    height: 20px;
}

.code-copy>svg:last-child {
    display: none;
}

.code-copy.active>svg:last-child {
    display: block;
}

.code-copy.active>svg:first-child {
    display: none;
}


.code-container:hover .code-copy,
.code-copy.active {
    opacity: 1;
}

.code-copy>svg:last-child {
    color: rgb(109, 192, 109);
}
