pre {
    position: relative;
}

@sep: 10px;

.code-copy {
    position: absolute;
    top: @sep;
    right: @sep;

    @media (min-width: 768px) {
        opacity: 0;
    }
}

.code-copy > svg {
    width: 20px;
    height: 20px;
}

.astro-code:hover .code-copy,
.code-copy.active {
    opacity: 1;
}

.code-copy.active {
    border-color: chartreuse !important;
}
