:root {
    --text-color: rgb(45, 45, 45);
    --elem-neutral: rgba(103, 103, 103, 0.265);

    --text-color-alt: rgb(114, 114, 114);
    --text-color-active: rgb(152, 152, 152);

    &.dark {
        --text-color: rgb(211, 211, 211);
        --text-color-alt: rgb(109, 109, 109);
        --text-color-active: rgb(86, 86, 86);
    }

    color: var(--text-color);
}


body {
    background-color: #f9f5f3;

    :is(.dark &) {
        background-color: rgb(10, 10, 10);
    }
}


code:not(.astro-code code) {
    background-color: var(--elem-neutral);
}

hr {
    background-color: var(--elem-neutral);
}

mark {
    color: var(--text-color);
    background-color: var(--elem-neutral);
}

html.dark .astro-code,
html.dark .astro-code span {
    color: var(--shiki-dark) !important;
    // background-color: rgb(0, 0, 0) !important;
}

a:hover {
    color: var(--text-color-alt);
}

a:active {
    color: var(--text-color-active);
}

th,
td {
    border-color: var(--elem-neutral);
}


.theme-loaded a {
    transition: color 100ms ease-out;
}

.card,
.astro-code {
    background-color: rgb(241, 241, 241) !important; // for astro-code
    border: 1px solid var(--elem-neutral);
    border-radius: 10px;

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    padding: 1rem;

    :is(.dark &) {
        background-color: rgb(0, 0, 0) !important; // for astro-code
    }
}

.card-hover {
    :is(.theme-loaded &) {
        transition: box-shadow ease-out 100ms;
    }

    &:hover {
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);

        :is(.dark &) {
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
        }
    }
}

.hover-filter {
    &:hover {
        filter: brightness(300%);

        :is(.dark &) {
            filter: brightness(60%);
        }
    }

    :is(.theme-loaded &) {
        transition: filter 100ms ease-out;
    }
}
