/*
    Style only applied to main blog content
*/

main {
    h1 {
        padding-top: 3rem;
        padding-bottom: 0.5rem;
    }

    h1:first-of-type {
        padding-top: unset;
    }

    h2 {
        padding-top: 2.5rem;
        padding-bottom: 0.5rem;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style: decimal;
    }

    ul,
    ol {
        padding-left: 1.5rem;
    }
}
