/*
    Style only applied to main blog content
*/

main {
    h1:not(h1:first-of-type) {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    h1 {
        padding-bottom: 3px;
    }

    h2 {
        margin-top: 2.5rem;
        margin-bottom: 0.5rem;
    }

    h3 {
        margin-top: 1rem;
    }

    h2,
    h3 {
        border-bottom: 1px solid rgba(105, 105, 105, 0.444);
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style: decimal;
    }

    :is(ul, ol) {
        margin-left: 1.5rem;
    }

    :is(ul, ol):not(:is(ul, ol) :is(ul, ol)) {
        margin-top: .75rem;
        margin-bottom: .75rem;
        // margin-top: 0;
        // margin-bottom: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        // Offset anchor links
        // https://perishablepress.com/margin-offset-anchor-targets/
        scroll-margin-top: 80px;
    }

    h1+h2 {
        margin-top: 1rem;
    }

    p {
        margin: 0.5rem 0;
    }

    a:not(:is(h1, h2, h3, h4, h5, h6) > a) {
        text-decoration: underline;
    }
}
