
@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/iosevka-normal-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/iosevka-normal-Extendedregular.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/iosevka-normal-regularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/iosevka-normal-regularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/iosevka-normal-ExtendedregularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/iosevka-normal-ExtendedregularOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/iosevka-normal-regularItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/iosevka-normal-ExtendedregularItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/iosevka-normal-medium.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/iosevka-normal-Extendedmedium.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/iosevka-normal-mediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/iosevka-normal-mediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/iosevka-normal-ExtendedmediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/iosevka-normal-ExtendedmediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/iosevka-normal-mediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/iosevka-normal-ExtendedmediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/iosevka-normal-semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/iosevka-normal-Extendedsemibold.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/iosevka-normal-semiboldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/iosevka-normal-semiboldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/iosevka-normal-ExtendedsemiboldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/iosevka-normal-ExtendedsemiboldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/iosevka-normal-semiboldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/iosevka-normal-ExtendedsemiboldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/iosevka-normal-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/iosevka-normal-Extendedbold.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/iosevka-normal-boldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/iosevka-normal-boldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/iosevka-normal-ExtendedboldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/iosevka-normal-ExtendedboldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/iosevka-normal-boldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'iosevka-normal Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/iosevka-normal-ExtendedboldItalic.woff2') format('woff2');
}
