.prose {
    font-family:'Helvetica Neue', helvetica, sans-serif;
}

code {
    font-family: 'Iosevka Web' !important;
}

.prose code::before {
    content: ''
}

.prose code::after {
    content: ''
}
