---
import Base from "../layouts/Base.astro";
import Centered from "../components/Centered.astro";
---

<Base
    seo={{
        title: "Page not found",
    }}
>
    <Centered>
        <h1>404</h1>
        <h3>Not found</h3>
    </Centered>
</Base>

<style>
    .test {
        box-sizing: border-box;
        padding: 10px;
        border: 4px solid rgb(68, 68, 68);
        border-radius: 10px;
    }
</style>
