---
import Base from "../layouts/Base.astro"
import { Debug } from "astro:components";

import { getCollection, getEntry } from "astro:content";


const allBlogPosts = await getCollection('blog');

const post1 = allBlogPosts[0];

const { Content } = await post1?.render();

---

<Base>
  <h2>My awesome blog</h2>

  <!-- <Debug posts={allBlogPosts}></Debug> -->
  <!-- <Content /> -->
</Base>

