---
import Base from "../layouts/Base.astro"
import PostList from '../components/PostList.astro'
import Footer from "../components/Footer.astro"
---

<Base>
  <section class="px-3 bg-cyan-200 flex flex-col">
    <h1>Profile</h1>

    <PostList/>

    <Footer class="bg-yellow-200"/>
  </section>
</Base>

<style>
  section {
  }
</style>
