---
import Centered from "../layouts/Centered.astro";
import PostList from "../components/PostList.astro";
import Footer from "../components/Footer.astro";
---

<Centered>
  <h1>Profile</h1>

  <PostList />

  <Footer class="bg-yellow-200" />
</Centered>

<style>
  section {
  }
</style>
