---
import Base from "../../layouts/Base.astro";
import Centered from "../../components/Centered.astro";

import { highlight } from "neohome-rs";
---

<Base
    seo={{
        title: "Experiments",
    }}
>
    <Centered>
        <h2>Coming soon...</h2>
    </Centered>

    {highlight("let x = 1", "javascript")}
</Base>
