---
---

<button class="astro-button">
    <slot />
</button>

<style is:global lang="less">
    .astro-button {
        width: 40px;
        height: 40px;
        display: flex;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        border: 2px solid var(--elem-neutral);

        background-color: rgb(238, 238, 238);
        :is(.dark &) {
            background-color: rgb(12, 12, 12);
        }

        &:hover {
            border-color: var(--text-color-alt);
        }

        transition: opacity 200ms ease-out color 200ms linear;
    }

    .astro-button > svg {
        color: var(--text-color-alt);

        width: 20px;
        height: 20px;
    }
</style>
