---
import { Image } from "astro:assets";
import logo from "../img/avatar-text.svg";
const { class: className } = Astro.props;
---

<header class:list={["flex justify-center", className]}>
  <nav class="py-2 px-5 flex-auto flex justify-between items-center">
    <a href="/" class="logo">
      <Image src={logo} alt="Site logo." loading="eager"/>
    </a>

    <ul class="flex gap-4">
      {
        (() => {
          if (import.meta.env.DEV === true) {
            return <a href="/test">Test Page</a>;
          }
        })()
      }
      <a href="/blog/">Blog</a>
      <a id="themeToggle">Theme</a>
    </ul>
  </nav>
</header>

<style lang="less">
  header {
    width: 100vw;
    top: 0;
    z-index: 100;
    position: sticky;
    font-weight: 600;


    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background-color: rgba(254, 254, 254, 0.687);
    border-bottom: 2px solid rgb(233, 233, 233);

    :is(.dark &) {
      background-color: rgba(0,0,0, 0.60);
      border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    }
  }


  nav {
    /* background-color: rgb(137, 137, 137); */
  }

  .logo {
    width: 150px;
    padding-top: 2px; // center the logo visually
  }
</style>
