---
---

<header class="py-6">
  <nav class="flex justify-between p-6 bg-neutral-300 rounded-2xl border-2 border-gray-400 font-semibold">
    <a href="/">ayats.org</a>
    <ul>
      <a href="/blog/">Blog</a>
      <a href="/about">About</a>
    </ul>
  </nav>
</header>

