---

---

<header
  class="bg-neutral-300 dark:bg-zinc-900 border-gray-200 border-b-2 backdrop-filter backdrop-blur-lg bg-opacity-30 fixed w-screen top-0 z-50"
>
  <nav class="flex justify-between p-4 font-semibold">
    <a href="/">ayats.org</a>
    <ul>
      <a href="/blog/">Blog</a>
      <a id="themeToggle">Theme</a>
    </ul>
  </nav>
</header>
