---
import { getCollection } from "astro:content";
import Post from "./Post.astro";

// const blogEntries = (await getCollection("blog")).filter((data) => {
//     const draft = (() => {
//         if ("draft" in data) {
//             if (typeof data.draft === "boolean") {
//                 return data.draft;
//             }
//         }
//         return undefined;
//     })();

//     console.log(`${data.id} draft=${draft}`);

//     if (import.meta.env.DEV === true) {
//         return true;
//     } else if (draft === true) {
//         return false;
//     } else {
//         return true;
//     }
// });

const blogEntries = (await getCollection("blog"))
    .sort((a, b) => {
        if (a.data.pubDate === undefined || b.data.pubDate === undefined) {
            return 0;
        }

        return a.data.pubDate.getSeconds() - b.data.pubDate.getSeconds();
    })
    .filter((elem) => {
        if (elem.data.draft === true) {
            return false;
        } else {
            return true;
        }
    });
---

<h1>All posts</h1>

<ul class="flex flex-col gap-3">
    {
        blogEntries.map((item) => {
            // console.log(item);
            return <Post post={item} />;
        })
    }
</ul>

<style>
    h1 {
        padding-bottom: 2rem;
    }
</style>
