---
import type { CollectionEntry } from "astro:content";
interface Props {
    post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
---

<li class="post-container">
    <h3>
        <a href={`/blog/${post.slug}`}>
            {post.data.title}
        </a>
    </h3>

    <p class="post-description">
        {post.data.summary}
    </p>
</li>

<style>
    .post-container {
        background-color: white;
        display: grid;
        grid-template-rows: auto auto;

        padding: 1rem;
    }
</style>
