---
import type { CollectionEntry } from "astro:content";
interface Props {
    post: CollectionEntry<"blog">;
}
const { post } = Astro.props;

// const { remarkPluginFrontmatter } = await post.render();
---

<li class="post-container">
    <div class="grid-span-1">
        <h3>
            <a href={`/blog/${post.slug}`}>
                {post.data.title}
            </a>
        </h3>
    </div>

    <p class="py-1">
        {
            post.data.pubDate.toLocaleDateString("en-uk", {
                year: "numeric",
                month: "short",
                day: "numeric",
            })
        }
    </p>

    <p>
        {post.data.summary}
    </p>
</li>

<style>
    .post-container {
        background-color: white;
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto max-content;
        align-items: top;
        column-gap: 1rem;

        padding: 1rem;
    }
</style>
