---
import type { CollectionEntry } from "astro:content";
interface Props {
    post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
---

<li class="post-container">
    <div>
        <h3>
            <a href={`/blog/${post.slug}`}>
                {post.data.title}
            </a>
        </h3>
    </div>

    <p>
        {post.data.summary}
    </p>
</li>

<style>
    .post-container {
        background-color: white;
        display: grid;
        grid-template-rows: auto auto;

        padding: 1rem;
    }
</style>
