---
import type { CollectionEntry } from "astro:content";
interface Props {
    post: CollectionEntry<"blog">;
}
const { post } = Astro.props;

import { formatDate } from "../date";
---

<li>
    <a href={`/blog/${post.slug}`} class="post-container card card-hover">
        <div class="grid-span-1">
            <h3>
                {post.data.title}
            </h3>
        </div>

        <p class="py-1">
            {formatDate(post.data.pubDate)}
        </p>

        <p>
            {post.data.summary}
        </p>
    </a>
</li>

<style lang="less">
    .post-container {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto max-content;
        align-items: top;
        column-gap: 1rem;
    }

    p {
        color: var(--text-color-alt);
    }
</style>
