---
import { Image } from "astro:assets";

import author from "./author.jpeg";

import { IconBrandLinkedin, IconBrandGithub } from "@tabler/icons-react";
---

<div id="profile">
    <div id="bento-photo" class="card">
        <Image src={author} alt="Author" />

        <style>
            img {
                width: 80%;
                display: inline-block;
                border-radius: 50%;
                border: 1px solid var(--elem-neutral);
                align-self: center;
                justify-self: center;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
            }
        </style>
    </div>
    <div id="bento-info" class="card">
        <span>
            <h2>Hello! I am Fernando <span class="bento-extra">Ayats</span></h2>
            <p class="mt-1">
                This is my personal website, where I write some blog posts. I
                mainly write about Linux-related topics, specially NixOS and
                Rust.
            </p>

            <p class="mt-5">Feel free to contact me!</p>

            <style>
                p {
                    color: var(--text-color-alt);
                }
            </style>
        </span>
    </div>
    <a class="card" href="https://github.com/viperML">
        <IconBrandGithub className="bento-icon"/>
    </a>
    <a class="card" href="https://linkedin.com/in/ayatsfer">
        <IconBrandLinkedin className="bento-icon"/>
    </a>
</div>

<style lang="less">
    #profile {
        display: grid;

        @size: 100px;

        grid-template-columns: repeat(auto-fill, minmax(@size, 1fr));
        grid-auto-rows: @size;

        grid-auto-flow: row dense;

        gap: 10px;

        margin: 8px;
        margin-bottom: 50px;
    }

    #bento-photo {
        grid-column: span 2;
        grid-row: span 2;
    }

    #bento-info {
        grid-column: span 3;
        grid-row: span 2;

        @media (min-width: 600px) {
            grid-column: span 4;
        }
    }

    #profile > * {
        display: grid;
    }

    .bento-icon {
        width: 50%;
        height: auto;
        align-self: center;
        justify-self: center;
    }

    .bento-extra {
        display: none;

        @media (min-width:600px) {
            display: initial;
        }
    }
</style>
