---
import NavBar from "../components/NavBar.astro";
import Footer from '../components/Footer.astro';
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body class="text-base flex flex-col items-center">

    <NavBar/>

    <main>
      <slot>
    </main>

    <!-- <div class="flex flex-col m-auto max-w-7xl sm:px-14 md:px-24 lg:px-32 py-10 mt-20">
      <slot class="grow"/>

      </div> -->

    <Footer/>

  </body>
</html>

<style>
  main {
    max-width: 1000px;
  }
</style>


<script is:inline src="/scripts/theme.js"/>
