---
import NavBar from "../components/NavBar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>

  <body class="flex flex-col h-screen m-auto text-lg">

    <NavBar />

    <div class="m-auto max-w-7xl sm:px-14 md:px-24 lg:px-32 py-10 mt-20">
      <slot />
    </div>

  </body>
</html>
