---
import Base from "./Base.astro";

const { frontmatter } = Astro.props;

const title = (() => {
    if (frontmatter?.title !== undefined) {
        return `${frontmatter.title} - ayats.org`;
    } else {
        return "ayats.org";
    }
})();
---

<Base>
    <title slot="head">{title}</title>

    <section class="px-3 flex flex-col max-w-6xl">
        <slot />
    </section>
</Base>
