---
import Base from "./Base.astro";
import type { Props as BaseProps } from "./Base.astro";
export type Props = BaseProps;
---

<Base {...Astro.props}>
    <section class="flex flex-col main-container">
        <slot />
    </section>
</Base>
